.idea/
.idea

node_modules
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

.sass-cache
*.sqlite
tags

xx*
yy*
zz*

# Sphinx documentation
docs/_build/

# PyBuilder
target/

cfg.py

#  The SQLite3 database

# For whoosh
#
static/upload/
static/f2elib/
static/datasets/
static/earthquake_data
static/dataset_list
static/judocs
static/xnb

templates/autogen/

.DS_Store

database/whoosh
database/*.db
# sqt stands for SQLite.
database/*.sqt
dump.rdb
typescript

torcms
torcms_helper
torcms_yunsuan
torcms_metadata
# torcms_maplet
# torcms_app

static/f2elib

config
cfg

# templates/jshtml

templates/jshtml/1_auto
# Excel temp file:
~$*.xlsx

pycsw_helper

all_week.csv

json_export/json_demo/
APP.xlsx

static/tuto_html
static/drr_datasets

script_sends/email.db
# script_sends/email.list

sysconf
proj


static/sitemap.txt

static/datasets
database/ext_tables
*.db

#
database/geq
static/cache
amis-torcms

